@media (max-width: 1030px) {
  section {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
  }
  img {
    width: 90%;
  }
  .h3,
  h3 {
    font-size: 2rem;
  }
}
