body {
	width: 100%;
	background: transparent;
/*	background-image: url('../images/violate.jpg');*/
    background-size: cover;
	height: 100%;
    font-family: 'open-sans-light', sans-serif;
    font-size: 14px;
    font-weight: normal;
	color: white;
	min-height: 800px;
	overflow-y: scroll;
	overflow-x: hidden;

}
.container {
	display: none;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -15px;
}

select, input, textarea, button { 
	outline:none; 
	background-color: rgb(232, 240, 254);
	color: #000000;
	height: 30px;
}
#sourceCSV {
	background-color: transparent;
    color: white;	
}

.modal {
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	border-radius: 2px;
	border-color: darkgray;
	margin-top: 10px;
	text-align: center;
	color: white;
	height: 100%; 
	color: #ffffff;
}
.modal-header {
	  border-bottom: 0;
	  padding: 5px;
}
.modal-footer {
	border-top: 0;
}
.modal-content {
	color: white;
	background-color: rgba(0,0,0,0.3);
	font-size: 0.9rem;
}
.myModal {
	color: white;
}
.modal-dialog {
    max-width: 100%;
    margin: 0 5px 0 7px;
}

.tile-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    width: 100%; 
    padding: 10px 0 0 5px;
	background-color: rgba(0, 0, 0, 0.35);
    color: #fff !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: none;
    line-height: 0.2;
    vertical-align: middle;
    max-height: 26px;
	min-height: 20px;
}
th {
    background: #000000; 
}
.exportbtn {
    float: right;
    background-color: transparent;
    color: white;
    outline-color: transparent;
    border-color: transparent;
}
.button:active {
	outline-color: transparent;
}

.form-control {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.2;
}
.select2-container {
    margin: 10px;
	min-width: 37%;
}
.select2-dropdown {
	background-color: #000;
	color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    background-color: gray;
    cursor: default;
    padding-left: 2px;
    padding-right: 5px;
    color: #fff;
	border-color: gray;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    background-color: darkgray;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: gray;
/*    border: 1px solid gray;
    border-radius: 1px;*/
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
}
.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
}

.row {
	height: 100%;
}
hr {
	border-color: transparent;
	margin-top: 10px;
}
.myheight {
	height: 150px;
}
#stable {
	margin: 0;
	font-size: .675rem;
    line-height: 1.2rem;
}

.table td, .table th {
	padding: 0.2rem;
    padding-left: .5rem;
    vertical-align: middle;
/*    border-top: 0 solid #dee2e6;
    border-top-color: transparent;*/
	border-top: 1px solid #ddd;
	color: #ffffff;
    text-align: left!important;
}

.poststable td{ 
	height: 14px 
}

.card {
	width: 100%; 
	background-color: rgba(0,0,0,0.5);;
	color: #ffffff;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 50%;
}

#fpc, #lpc, #nop {
	background-color: rgba(0,0,0,0.3);
	width: 408px;
	padding: 10px;
}
#top10users {
	background-color: rgba(0,0,0,0.3);
	margin-top: -8px;
}
#noptable {
	margin: 10px;
}
.vl {
  border-left: 2px solid transparent;
  opacity: 0.5;
  height: auto;
}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.btn-secondary {
	margin: 0 20px 0 0;
	min-width: 100px;
}
.btn-outline-secondary {
	margin: 0 20px 0 0;
	min-width: 180px;
	text-align: left;
}
.picture {
    height: 75px;
    max-width: 75px;
}
.tagbtns {
	border-radius: 15%;
	background-color: rgb(232, 240, 254, 0.9);
}
table.dataTable tbody tr {
	background-color: rgba(0,0,0,0.1);
/*	background-color: transparent;*/
	border-top: 1px solid rgb(128, 128, 128, 0.3);
}
table.dataTable td {
    padding-left: 0.5rem;
}
table.dataTable th {
    padding-left: 0.5rem;
}
table.dataTable tbody tr:hover {
	background-color: rgba(0,0,0,0.2)!important;
}
table.dataTable thead th {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
table.dataTable thead tr {
    text-align: left;
}
table.dataTable a:hover {
    color: #ffffff;
}
.paginate_button {
	padding: 5px;
}
.page-item.active .page-link {
    background-color: red !important;
    border: 1px solid black;
}
.page-link {
    color: #9e9c9c !important;
}

tr:hover {
    background-color: transparent;
}
td:hover {
    background-color: transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #9e9c9c !important;
}

.paginate_button.current {
	background-color: #757272;
}
#feedmonitortable_paginate {
	text-align: right!important;
	margin-bottom: 30px;
}
#scheduletable_paginate {
	text-align: right!important;
	margin-bottom: 10px;
}
#scheduletable_info {
	margin-top: 50px;
	text-align: left;
}
#scheduletable_filter {
	text-align: left;
}
.padleft {
    text-align: left!important;
}
.colcenter {
    text-align: center!important;
}
.warp-list-table {
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 5px;
	font-size: 8px;
}
.square-social {
    background: transparent;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    float: left;
    margin-top: 4px;
    margin-right: 4px;
	line-height: 12px;
}

.tooltip.bs-tooltip-bottom .arrow::before {
	border-bottom-color: tomato;
}

.tooltip.bs-tooltip-bottom .tooltip-inner {
	background-color: tomato;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: gray;
/*    border-radius: 10px;*/
    border: 3px solid transparent;
  }

.postmarker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

#menu {
    position: absolute;
    background-color: transparent;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
}
.calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
}
     
p {
	font-family: 'Open Sans';
	margin: 0;
	font-size: 13px;
}

#chart1-license-text {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}
#chart2-license-text {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}
#chart3-license-text {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}
#chart4-license-text {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}
#networkpertime-license-text {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}
#userspertime-license-text {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}
